node_modules
jspm_packages
bower_components
.idea
.DS_STORE
/dist
build/reports
coverage
export
# Ignore compiled Typescript files
src/**/*.map
src/**/*.js
test/e2e/src/**/*.map
test/e2e/src/**/*.js
test/unit/**/*.map
test/unit/**/*.js
